<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 ">
        <!-- mis estilos -->
    <link rel="stylesheet" href="../../../public/css/estilos2.css">
        <!-- link de bootstrap -->
    <link type="text/css" rel="stylesheet" href="../../../public/css/bootstrap.min.css">

    <meta charset="utf-8">
    <title>Armadoras</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
        <div class=" menu p-2 container">
          <a class="navbar-brand js-scroll-trigger text-light" href="../index2.html"><img class="pl-3" src="../../../images/LOGO_SIN_FONDO.PNG" width="80"></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-0 my-lg-0">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark" href="index2.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark" href="productos.html">Lineas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark" href="EncuentraTuProducto.html">Encuentra tu producto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark" href="Historia.html">Quienes somos</a>
              </li>

            </ul>
            <nav class="navbar navbar-light">
              <form class="form-inline">
              <input class="form-control mr-sm-2" type="text" placeholder="buscar" id="formulario" style="background: none;">
              <button class=" buscador btn btn-outline-secondary my-2 my-sm-0 mx-lg-2" type="submit"id="boton" style="background: none !important;">buscar</button>
              </form>
            </nav>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="container-fluid">
        <div class="col-12">
          <center>
            <h4 class="display-4">Encuentra tu armadora</h4>
          </center>
      <div class="row">
          <br>
          <br>
          <br>
        <!-- <div class="  card-columns"> -->


          <div class="marcas card card-body col-md-2 col-sm-4 ">
            <a class="" href="#"><img class=" card-img-top" src="../../../images/acura.jpg" alt="carro"width="">
            <h6 class="text-center card-title">Acura</h6></a>
          </div>

          <div class="marcas card card-body col-md-2 col-sm-4">
            <img class="card-img-top" src="../../../images/audi.png" alt="carro"width="">
            <h5 class="text-center card-title">Audi</h5>
          </div>

          <div class="marcas card card-body col-md-2 col-sm-4 ">
            <img class="card-img-top" src="../../../images/bmw.png" alt="carro"width="">
            <h5 class="text-center card-title">BMW</h5>
          </div>

          <div class="marcas card card-body col-md-2 col-sm-4 ">
            <img class="card-img-top" src="../../../images/buick.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Buick</h5>
          </div>

          <div class="marcas card card-body col-md-2 col-sm-4 ">
            <img class="card-img-top" src="../../../images/cadillac.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Cadillac</h5>
          </div>

          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top" src="../../../images/chevrolet.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Chevrolet</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top" src="../../../images/Chrysler.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Chrysler</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top" src="../../../images/daewoo.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Daewoo</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top" src="../../../images/Faw.PNG" alt="carro"width="">
            <h5 class="text-center card-title">Faw</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top" src="../../../images/fiat.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Fiat</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <a><img class="card-img-top" src="../../../images/ford.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Ford</h5></a>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top" src="../../../images/GMC.png" alt="carro"width="">
            <h5 class="text-center card-title">General Motors</h5>
          </div>
          <div class="marcas card card-body  col-md-2 col-sm-4 ">
            <img class="card-img-top " src="../../../images/honda.png" alt="carro"width="">
            <h5 class="text-center card-title">Honda</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/hyundia.png" alt="carro"width="">
            <h5 class="text-center card-title">Hyundai</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/isuzu.png" alt="carro"width="">
            <h5 class="text-center card-title">Isuzu</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/jaguar.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Jaguar</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/kia.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Kia</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/LandRover.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Land Rover</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/Lincoln.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Lincoln</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/Mazda.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Mazda</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/MercedesBenz.png" alt="carro"width="">
            <h5 class="text-center card-title">Mercedes Benz</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/Minicooper.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Mini cooper</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <a><img class="card-img-top " src="../../../images/Mitsubishi.png" alt="carro"width="">
            <h5 class="text-center card-title">Mitsubishi</h5></a>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/Nissan.png" alt="carro"width="">
            <h5 class="text-center card-title">Nissan</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/Peugeot.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Peugeot</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/Renault.png" alt="carro"width="">
            <h5 class="text-center card-title">Renault</h5>
          </div>
          <div class="marcas card card-body  col-md-2 col-sm-4 ">
            <img class="card-img-top " src="../../../images/Saab.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Saab</h5>
          </div>
          <div class="marcas card card-body  col-md-2 col-sm-4 ">
            <img class="card-img-top " src="../../../images/Seat.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Seat</h5>
          </div>
          <div class="marcas card card-body  col-md-2 col-sm-4 ">
            <img class="card-img-top " src="../../../images/Subaru.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Subaru</h5>
          </div>
          <div class="marcas card card-body  col-md-2 col-sm-4 ">
            <img class="card-img-top " src="../../../images/suzuki.jpg" alt="carro"width="">
            <h5 class="text-center card-title">suzuki</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/Toyota.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Toyota</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/Volkswagen.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Volkswagen</h5>
          </div>
          <div class="marcas card card-body col-md-2 col-sm-4  ">
            <img class="card-img-top " src="../../../images/Volvo.jpg" alt="carro"width="">
            <h5 class="text-center card-title">Volvo</h5>
          </div>




        <!-- </div> -->




        </div>

      </div>
    </div>












    <script src="../../../js/jquery-3.3.1.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../../../js/popper.min.js" ></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
