
*{
  font-family: 'Cormorant', serif;
}
body{
  background: rgba(255,255,255,0.9);
  margin: 0px;
  padding: 0px;
  
}

*::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
body::-webkit-scrollbar-track {
  background: gray;
  border-radius: 8px;
}


div.uno{
  background:rgba(255,255,255,0) !important;
}

div.fondo{
  background-image: url(../../images/pagina/clutch-2755548_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment: fixed;
}
div.fondo1{

  background-image: url(../../images/pagina/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment: fixed;
}
div.fondo4{

  background-image: url(../../images/pagina/tools.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment: fixed;
}
div.fondo3{

  background-image: url(../images/pagina/almacen1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment: fixed;
}
div.fondo2{

  background-image: url(../images/pagina/mecanico.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment: fixed;
}

.buscador{
  background: rgba(255, 50, 0, 0) !important;
}
nav.footer{
  background: rgba(0,0,0,0.3)!important;
}
/* div.menu{
  background: rgba(198,7,7, 0.8) !important;
} */
div.menu{
  background: rgba(129, 129, 129, 0.7) !important;
  border-radius: 0.5rem;
}
div.menu:active{
  transition: 0.5s;
  background: rgba(129, 129, 129, 0.7) !important;
  color:rgba(129, 129, 129, 0.4) !important;
}
div.menu:focus{
  transition: 0.5s;
  background: rgba(129, 129, 129, 0.7) !important;
  color:rgba(129, 129, 129, 0.4) !important;
}
div.menu:hover{
  transition: 0.5s;
  background: rgba(129, 129, 129, 0.7) !important;
  color:rgba(129, 129, 129, 0.4) !important;
}
div.menu a:active{
  transition: 0.5s;
  color:rgba(129, 129, 129, 0.4)!important;
}
div.menu a:focus{
  transition: 0.5s;
  color:#fff !important;
}
div.menu a:hover{
  transition: 0.5s;
  color:#fff !important;
}
.display-4{
  color:#000 !important;
}

.buscador{
  background: rgba(255,255,255,0.6) !important;
  border-radius: 5px;
  height: 2.2em;

}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  color: #fff;
  text-decoration: none;
}
hr{
  background: rgba (0,0,0,0.8);
}
input.buscarP[type="text"]{
 outline: none;
 /* background: none;
 margin: none !important;
 margin-bottom: 2px solid red !important; */
 border-color:red !important;
 color:#000;
}
.buscarP{
  color: #000;
}
.historia{
  color:#000;
}
/* TODAS LAS ARMADORAS  */
.marcas{
  display: block !important;
}
/* cartas de index */
div.carta{
  height: 17em !important;
}
div.carta p{
  height: 14em !important;
  overflow-y: auto;
}
.foot{
background: #000;

}
.icono:hover{
  transition: 0.4s;
  color:#fff;
}

form select{
  background:rgba(129, 129, 129, 0.8);
  color:#fff;
  padding: 8px;
  width: 14rem;
  border: none;
  border-radius: 3.5px;

}
.skill{
  display: none;
}