body{
  margin: 0px;
  padding: 0px;
  background: #fff;
}
/* header{
  height: 100vh;
    background: linear-gradient(50deg, #C60707 60%, #fff 40%);

    z-index: 10000;

} */

div.uno{
  background: rgba(0, 0,0, 0.1) !important;
}
.buscador{
  background: rgba(255, 50, 0, 0) !important;
}
nav.footer{
  background: rgba(0,0,0,0.3)!important;
}
/* div.menu{
  background: rgba(198,7,7, 0.8) !important;
} */
div.menu{
  background:#fff !important;
}
div.menu:active{
  transition: 0.5s;
  background: rgba(198,7,7, 0.8) !important;
  color:#fff !important;
}
div.menu:focus{
  transition: 0.5s;
  background: rgba(198,7,7, 0.8) !important;
  color:#fff !important;
}
div.menu:hover{
  transition: 0.5s;
  background: rgba(198,7,7, 0.8) !important;
  color:#fff !important;
}
div.menu a:active{
  transition: 0.5s;
  color:#fff !important;
}
div.menu a:focus{
  transition: 0.5s;
  color:#fff !important;
}
div.menu a:hover{
  transition: 0.5s;
  color:#fff !important;
}
.display-4{
  color:#000 !important;
}

.buscador{
  background: transparent !important;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  color: #fff;
  text-decoration: none;
}
hr{
  background: rgba (0,0,0,0.8);
}
input.buscarP[type="text"]{
 outline: none;
 /* background: none;
 margin: none !important;
 margin-bottom: 2px solid red !important; */
 border-color:red !important;
 color:#000;
}
.buscarP{
  color: #000;
}
.historia{
  color:#000;
}
/* TODAS LAS ARMADORAS  */
.marcas{
  display: block !important;
}
/* cartas de index */
div.carta{
  height: 17em !important;
}
div.carta p{
  height: 14em !important;
  overflow-y: scroll;
}
