/* index.html */
.MENU{
  background:#BD1010;
}
header{
  height: 65vh;
  width: 100%;
  background-image: url(../images/primera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 86%);
}


/*formulario de administrador  */
input.agregarP[type="text"]{
  outline: none;
  background: none;
  margin: none !important;
  margin-bottom: 2px solid red !important;
}
.inputs{
  max-width: 45%;
  min-width: 20em;
}
   /* formulario iniciar secion */
body.agragarProducto{
  background:#fff;
  overflow-x: hidden;
}

input.admin[type="text"]{
 outline: none;
 background: none;
 margin: none !important;
 margin-bottom: 2px solid red !important;
}
input.admin[type="email"]{
 outline: none;
 background: none;
 margin: none !important;
 margin-bottom: 2px solid red !important;
}
input.admin[type="password"]{
 outline: none;
 background: none;
 margin: none !important;
 margin-bottom: 2px solid red !important;
}

.inputs{
  max-width: 45%;
  min-width: 20em;
}
/* agregar productos */
.formulario-agregar{
  background: transparent !important;
}
input.buscarP[type="text"]{
 outline: none;
  background: none;
 border-color:red !important;
}
