
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 ">
    <!-- <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../../public/css/estilos.css">
    <link rel="stylesheet" href="../../icons/fonts/style.css">
    <title> Buscador</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
        <div class=" menu p-2 container">
          <a class="navbar-brand js-scroll-trigger text-light" href="index.html"><img class="pl-3" src="../../images/LOGO_SIN_FONDO.PNG" width="70"></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-0 my-lg-0">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark" href=""style="color:grey !important;">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark" href="productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark" href="EncuentraTuProducto.html">Encuentra tu producto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark" href="Historia.html">Quienes somos</a>
              </li>

            </ul>
            <nav class="navbar navbar-light">
              <form class="form-inline">
              <input class="form-control mr-sm-2" type="text" placeholder="buscar" id="formulario">
              <button class=" buscador btn btn-outline-secondary my-2 my-sm-0 mx-lg-2" type="submit"id="boton">buscar</button>
              </form>
            </nav>
          </div>
        </div>
      </nav>

      <div class="container-fluid">

        <div class="fondo"></div>

      </div>
      <header class="header">


        <div class=" uno container h-100">
          <div class="row h-100 align-items-center justify-content-center text-center">

            <div class="col-lg-10 align-self-start">

              <h2 class="text-uppercase display-4 mt-5 pt-5 text-light font-weight-bold" >Skagen-clutch</h2>
              <hr class="divider my-3 "style="background:red !important;">
              <h5 class=" font-weight-light" style="color:#000;">En sistemas de clutch, <strong>skagen</strong> es la solución</h5>
              <br>
              <br>

              <nav class="col-12 navbar navbar-dark " style="background:rgba(0,0,0,0.2)">

                <p class=" col-12  text-center"style="color:#000;">Busca tu clutch ideal</p>
                <br>
                <br>
                <br>
                <form class=" col-12 " action="/tu_producto.html" method="get">
                  <br>


                  <input class="buscador mr-sm-2 col-3  border border-top-0 border-right-0 border-left-0 mx-3 buscarP" type="text" REQUIRED name="año" placeholder="Año"  ><span class="icon-triangle-left text-danger"></span>

                  <input class="buscador mr-sm-2 col-3  border border-top-0 border-right-0 border-left-0 mx-3 buscarP" type="text" REQUIRED name="armadora" placeholder="Armadora"  ><span class="icon-triangle-left text-danger"></span>

                  <input class="buscador mr-sm-2 col-3  border border-top-0 border-right-0 border-left-0 mx-3 buscarP" type="text" REQUIRED name="modelo" placeholder="Modelo"  ><span class="icon-triangle-left text-danger"></span>
                  <br>
                  <br>
                  <button class=" buscador btn btn-dark bg-dark my-2 my-sm-0 mx-lg-2" type="submit"id="boton" action="tu_producto.html" style="background:#000 !important;">buscar</button>
                </form>
              </nav>
              <br>
              <br>

              <div class="col-12">
              <div class="row mt-3">

              <div class="borderR col-md-4">
                <h5 class="card-text">Kits de Clutch</h5>
                <br>
                <div class="card">
                  <div class=" carta card-body">
                    <p class="">Skagen Clutch cuenta con una línea de clutch extensa y que abarca actualmente el 90% del parque vehicular en México, USA y el resto América Latina incluyendo aplicaciones brasileñas. Skagen ofrece kits armados individualmente por componente para de esta forma lograr abarcar el amplió y dinámico mercado actual de refacciones y autopartes logrando mantener los estándares de calidad que en trasmisión son especialmente importantes por razones de seguridad. Todos los componentes dentro de un kit de clutch Skagen viene garantizados y respaldados por estándares de calidad ISO y códigos de seguridad para el mercado Aftermarket.</p>
                  </div>
                </div>
              </div>

              <div class="borderR col-md-4">
                <h5 class="card-text">Repuestos de Baleros de Empuje Mecánico</h5>
                <div class="card">
                  <div class=" carta card-body">
                    <p class="">Skagen Clutch ofrece una línea completa repuestos de cojinete para empuje de embragues los cuales cuentan con especificaciones OEM para garantizar máximo desempeño en combinación en conjunto con cualquier actuador hidráulicos. </p>
                  </div>
                </div>
              </div>

              <div class="borderR col-md-4">
                <h5 class="card-text">Cilindros Maestros y Actuadores Hidráulicos</h5>
                <div class="card">
                  <div class=" carta  card-body">
                    <p class="">Los collarines hidráulicos Skagen son sometidos a estrictos controles en calidad y las fábricas son seleccionadas cuidadosamente para que puedan cumplir con los rigurosos procedimientos para asegurar el desempeño y calidad que demandan las condiciones actuales de manejo. Los materiales con los que los componentes hidráulicos y metálicos se fábrica son las mejores aleaciones de componentes para estar a la vanguardia con las tecnologías y ofrecer las mejores opciones en rendimiento y resistencia al ambiente. </p>
                  </div>
                </div>
              </div>

            </div>
            </div>
            <br>
            <br>
            <br>



              <!-- <div class="container">
                <div class="row">
                  <div class="col-12">
                    <br>
                    <br>
                    <p class=" parallax display-4 mt-5 py-5 ">Un poco sobre nosotros</p>
                    <br>
                    <img class=" parallax col-md-6 float-md-right mt-5 pt-5" style="width: 400px;"src="images/clutch.png" alt="imagen de clutch">
                    <p class="historia col-md-6"id="historia">Skagen nace en 2008 debido a la creciente demanda en opciones para cubrir el incremento en variedad de autopartes para el mercado de refacciones en el mundo siguiendo las normas de control de calidad en Equipo Original (OEM) y repuesto para Aftermarket.
                                        Skagen Clutch con una amplia cobertura en su línea, ofrece ya más de 2000 números dentro de la línea de embragues y sus diferentes componentes ofreciendo así diversas opciones para cubrir cada necesidad individual del vehículo y su usuario. La extensa variedad de componentes ha permitido que el desarrollo de nuevas alternativas se mantenga a la vanguardia con el dinámico mercado actual de refacciones ofreciendo de esta forma soluciones a diversas situaciones.
                                        El riguroso estándar de calidad y certificados ISO que Skagen está comprometida a ofrecer, ha permitido el desarrollo continuo de nuevas formulaciones y apoyada por una red de fábricas que cubren los estándares exigidos por el mercado OEM y aftermarket a nivel mundial, Skagen Clutch así como sus diversas subdivisiones, está comprometida con la innovación de tecnología para nuevos números de parte que ofrezcan máxima seguridad y desempeño para estar al día con las nuevas características tecnológicas que se desarrollan dentro de la industria automotriz.
                                        Skagen busca la satisfacción completa de sus usuarios para las pasadas, nuevas y futuras generaciones de automóviles.
                    </p>
                    <br>
                    <br>



                  </div>

                </div>

              </div> -->

           </header>
           <nav class=" footer navbar fixed-bottom navbar-dark text-right ">
             <a class="navbar-brand text-right text-dark " href="#">Preguntas frecuentes</a>
           </nav>

           <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
           <script src="../../js/jquery-3.3.1.min.js" ></script>
          <script src="../../js/popper.min.js" ></script>
          <script src="../../js/bootstrap.min.js"></script>

        </body>
      </html>
