<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 ">
        <!-- mis estilos -->
    <link rel="stylesheet" href="css/index.css">
        <!-- link de bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <title>Ingrasa</title>
  </head>
  <body class="administrador">
      <div class=" container formularioAdmin">
        <div class="row">
          <div class="col-12">
            <br>
            <img class="pl-3" src="images/LOGO_SIN_FONDO.PNG" width="70">
            <br>
            <center>
            <h2 class="text-uppercase display-4  pt-1  font-weight-bold" style="color: #C60707;">Skagen-clutch</h2>
            <hr class="divider my-3 ">
            </center>
            <br>
            <br>
            <br>


          <center>
            <p class="display-4">Administrador</p>

        <form class="form-group inputs" method="post" >
          <div class="form-group">
            <label for="" class="text-bold">Nobre de usuario</label><br>
            <input type="text" class="form-control admin " id="" placeholder="Nombre de Usuario">
          </div>
          <div class="form-group">
            <label for="f" class="text-bold">Correo electronico</label><br>
            <input type="email" class="form-control admin " id="" placeholder="Correo">
          </div>
          <div class="form-group">
            <label for="f" class="text-bold">Contraseña</label><br>
            <input type="password" class="form-control admin " id="" placeholder="Contraseña"><br>
            <input type="submit" class="btn btn-block border-primary " id="" placeholder="Enviar">
          </div>
       </form>
     </center>
   </div>

     </div>

      <!-- <form class="filtro" action="" method="post">
        <input class="form-group" type="text" name="nombreUsuario" value=""placeholder="NOMBRE DE USUARIO"><br><br>
        <input class="form-group" type="email" name="correo" value=""placeholder="INGRESA TU CORREO"><br><br>
        <input class="form-group" type="password" name="contraseña" value=""placeholder="CONTRASEÑA">

      </form> -->
    </div>









    <script src="js/jquery-3.3.1.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
